.chat__header-delete-user {
  box-sizing: border-box;
  width: calc(100% - 10px);
  padding: 8px;
  border: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  margin: 0 auto 6px 5px;
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 12px;
}

.chat__header-delete-user:hover {
  .chat__header-add-user-text {
    color: $blue-color;
  }
}
