.profile__editor-password {
  font-family: $font-inter;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: $blue-color;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: none;
  height: fit-content;
  width: fit-content;
  transition: opacity 0.2s;
}

.profile__editor-password:hover {
  opacity: 0.9;
}
