.profile__confirm-button {
  width: 50%;
  color: $white-color;
  background-color: $blue-color;
  border-radius: 8px;
  border-color: $blue-color;
  border-style: none;
  height: 34px;
  cursor: pointer;
  margin: 0 10px;
  transition: opacity 0.2s;
}

.profile__confirm-button:hover {
  opacity: 0.9;
}
