.popup-add-user__button {
  display: block;
  width: calc(100% - 60px);
  height: 35px;
  border: none;
  background: #3369f3;
  border-radius: 8px;
  color: $white-color;
  margin: 0 auto 30px;
  font-family: $font-inter;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  transition: opacity 0.2s;
  cursor: pointer;
}

.popup-add-user__button:hover {
  opacity: 0.9;
}
