.people__search-input {
  height: 32px;
  border: none;
  background-color: $light-gray-color;
  border-radius: 5px;
  font-family: $font-inter;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  box-sizing: border-box;
  width: 100%;
  padding: 0 10px 0 calc(50% - 15px);
  position: relative;
  transition: all 0.2s;
}

.people__search-input::placeholder {
  color: $dark-gray-color;
  transition: all 0.2s;
  font-family: $font-inter;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
}
