.popup-delete-user__inner {
  width: 100%;
  max-width: 340px;
  background-color: $white-color;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  position: relative;
  margin: 20px 10px;
}
