@import './__inner/popup-add-user__inner.scss';
@import './__icon-close/popup-add-user__icon-close.scss';
@import './__title/popup-add-user__title.scss';
@import './__label/popup-add-user__label.scss';
@import './__input/popup-add-user__input.scss';
@import './__button/popup-add-user__button.scss';

.popup-add-user {
  position: absolute;
  background-color: rgba($color: #000000, $alpha: 0.4);
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}