.popup-avatar__file-name-loaded {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #8d8d8d;
  max-width: 280px;
  margin: 40px auto 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
