@import "./__title/main-404__title.scss";
@import "./__text/main-404__text.scss";
@import "./__subtext/main-404__subtext.scss";
@import "./__link/main-404__link.scss";

.main-404 {
  margin: auto;
  color: #1e1e1e;
  padding: 30px 10px;
}
