.popup-avatar__button {
  margin: 40px auto 10px;
  width: calc(100% - 60px);
  height: 35px;
  display: block;
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  cursor: pointer;
  background-color: #3369f3;
  border-radius: 8px;
  border-style: none;
  transition: opacity 0.2s;
}

.popup-avatar__button:hover {
  opacity: 0.9;
}
