.people__item-content-time {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  color: #999;
  margin-left: 10px;
  min-width: fit-content;
}