.popup-avatar__input-error {
  font-family: $font-inter;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  color: #ff2f2f;
  display: block;
  margin: 10px auto 30px;
  height: 0px;
  overflow: hidden;
}