@import "./__title/main-500__title.scss";
@import "./__text/main-500__text.scss";
@import "./__subtext/main-500__subtext.scss";
@import './__link/main-500__link.scss';

.main-500 {
  margin: auto;
  color: #1e1e1e;
  padding: 30px 10px;
}
