.profile__avatar {
  width: 130px;
  height: 130px;
  margin: 60px auto 0;
  border-radius: 50%;
  background-color: #efefef;
  background: url("/images/background-avatar.png") no-repeat center / cover, #efefef;
  cursor: pointer;
  position: relative;
}

.profile__avatar::after {
  position: absolute;
  content: "Поменять аватар";
  width: 68px;
  text-align: center;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}

.profile__avatar::before {
  position: absolute;
  border-radius: 50%;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.5);
  opacity: 0;
  transition: opacity 0.2s;
}

.profile__avatar:hover.profile__avatar::after {
  opacity: 1;
}

.profile__avatar:hover.profile__avatar::before {
  opacity: 1;
}

